@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>La libreria biblioteca bibliografica</h1>
    <p class =">Bienvenido a la libreria bibliografica.</p>
    
</div>


<div class="row">

    <p>Bienvenido a la biblioteca bibliografica</p>
    <img src="/Content/Imagenes/libros2.jpg_2118499843.jpg" width="500" height="200" />
    <img src="/Content/Imagenes/unnamed.jpg" width="500" height="200" />
    <button onclick="cambiarColorFondo();">Cambiar  fondo</button>
    <button onclick="Alerta();">Alerta</button>
    <script src="~/Scripts/JavaScript.js"></script>
</div>


    
